body {
  background-color: white;
}

h1 {
  color: black;
}
h3.resume{
 float: right;
 font-family: 'brandon_grotesqueblack';
 text-transform: uppercase;
 font-size: 22px;
 color: black;
}
p {
  font-family: verdana;
  color: black;
}
p.bio{
  font-family: Garamond;
  color: grey;
}
img {
  margin-left: auto;
  margin-right: auto;
}
img.social{
  float: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
img.profile{
  border-radius: 50%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr{
    height: 0px;
    border: 1px solid black;
    }
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: dodgerblue;
  color: white;
}
th{
    text-align: center;
    color: white;
    background: #333;
    font-weight: 1000;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

img.photo {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
}
